.button.move{margin-left:50px;}

.column {
    float: left;
    width: 25%;
    border: 10px;
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

  textarea {
    display: none;
  }